.main-gameboard-container{
    display: grid;
    margin: 0 auto;
    max-width: 900px;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}

.square{
    background-color: #1abcd1;
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
}

.square:hover{
    transform: scale(.95);
    cursor: pointer;
}
