:root {
  --primary-color: #f8f5f1;
  --primary-color-dark: #e2a490;
  --secondary-color: #387c6d;
  --secondary-color-dark: #343f56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  color: var(--primary-color);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 32px !important; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 0 0 5px 5px;
  font-size: 1.2rem;
}

.header__flex {
  width: 90%;
  min-width: 288px;
  max-width: 1080px;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px 30px;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header__github a img:hover {
  transform: scale(0.9);
}

.main h2 {
  display: flex;
  align-items: center;
  margin: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-self: center;
  max-width: 400px;
  padding: 1rem;
  background-color: var(--secondary-color-dark);
  border-radius: 1rem;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 20px;
}

.main-setup__resetButton {
  border: none;
  color: white;
  background-color: transparent;
}

.main-setup__resetButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-setup__resetButton:active {
  color: var(--secondary-color);
}

.main-gameboard-container {
  display: grid;
  min-height: 300px;
  min-width: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  font-size: 5rem;
}

.square {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color-dark);
  font-family: "Permanent Marker", cursive;
  border-radius: 1rem;
}

.square:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
}

.main .main-setup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.main .main-setup__player {
  font-size: 2rem;
}

.main .main-startButton {
  min-width: 300px;
}

.winner {
  color: green;
}

footer {
  margin: 20px 0;
  padding: 20px 0;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--secondary-color);
  color: #fff;
}

.footer__design {
  text-decoration: none;
  color: #fff;
}

.footer__design:visited {
  text-decoration: none;
  color: #fff;
}

.footer__design:hover {
  color: var(--primary-color-dark);
}
