*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-gameboard-container{
    display: grid;
    min-height: 300px;
    min-width: 300px;
    max-width: 900px;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10rem;
}

.square{
    background-color: #1abcd1;
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
    color: white;
}

.square:hover{
    background-color: #118190;
    transform: scale(1.1);
    cursor: pointer;
}

.main h2{
    font-size: 2rem;
    margin: 20px;
}

.main .main-setup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.main .main-setup__player{
    font-size: 1.8rem;
}

.main .main-setup__resetButton{

}

.main.main-startButton{
    min-width: 300px;
}

